.container {
  width: 420px;
  margin-top: 50px;
  margin-left: 50px;
}

label:nth-child(n + 2) {
  margin-left: 10px;
}

.input-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.date,
.distance {
  display: flex;
  flex-direction: column;
}

input {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 22px;
  box-sizing: content-box;
  margin-top: 10px;
  outline-offset: none;
}

.submit {
  width: 50px;
  height: 42px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(245, 255, 240);
}

.data-container {
  margin-top: 10px;
}

.data-titles {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.data {
  display: flex;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  margin: 3px;

}